<form>
  <div class="form-data">
    <label for="title">Name</label>
    <input
      name="name"
      type="text"
      placeholder="name"
      [(ngModel)]="newTag.name"
    />
    <br />
    <label for="stock">color</label>
    <input
      type="color"
      name="color"
      placeholder="color"
      [(ngModel)]="newTag.color"
    />
  </div>

  <!-- <div class="buttons"> -->
  <button mat-fab extended (click)="addTag()" class="button-action">Add</button>
  <button mat-fab extended (click)="goBack()" class="button-action">
    Back
  </button>
  <!-- </div> -->
</form>
